/* Coolors Exported Palette - coolors.co/f2d7ee-d3bcc0-a5668b-69306d-0e103d */

/* RGB */
.body { background-color: #00B7EB; }
.colorMain { color: #00B7EB; }
.bgColor0 { background-color: #00B7EB; }
.bgColor1 { background-color: #EB00B7; }
.bgColor2 { background-color: #C50099; }
.bgColor3 { background-color: #FF26CF; }
.bgColor4 { background-color: #B7EB00; }
.bgColor5 { background-color: #99C500; }
.bgColor6 { background-color: #CFFF26; }
.fontColor0 { color: #00B7EB; }
.fontColor1 { color: #EB00B7; }
.fontColor2 { color: #C50099; }
.fontColor3 { color: #FF26CF; }
.fontColor4 { color: #B7EB00; }
.fontColor5 { color: #99C500; }
.fontColor6 { color: #CFFF26; }

$body:   #00B7EB;
$colorMain: #00B7EB;
$bgColor0:  #00B7EB;
$bgColor1:  #EB00B7;
$bgColor2:  #C50099;
$bgColor3:  #FF26CF;
$bgColor4:  #B7EB00;
$bgColor5:  #99C500;
$bgColor6:  #CFFF26;
$fontColor0: #00B7EB;
$fontColor1: #EB00B7;
$fontColor2: #C50099;
$fontColor3: #FF26CF;
$fontColor4: #B7EB00;
$fontColor5: #99C500;
$fontColor6: #CFFF26;
$color1: $bgColor1;
$color2: $bgColor2;
$color3: $bgColor3;
$color4: $bgColor4;
$color5: $bgColor5;

/* HSL */
$_color1: $bgColor1;
$_color2: $bgColor2;
$_color3: $bgColor3;
$_color4: $bgColor4;
$_color5: $bgColor5;

$theme-colors: (
);

/*! `Custom` Bootstrap 4 theme */

$enable-grid-classes:false;
$default:       $body !default;
$primary: $colorMain, !default;
$secondary: $bgColor1, !default;
$success: $bgColor2, !default;
$info: $fontColor3, !default;
$warning: $bgColor4, !default;
$danger: $bgColor5, !default;
$light: $bgColor6, !default;
$dark: $color5, !default;
$enable-gradients:true;
$spacer:0.7rem;
$border-width:0;
$btn-border-radius:1.35rem;

$primaryColor: $colorMain;
$primaryLightColor: $color1;
$primaryDarkColor: $bgColor2;
$secondaryColor: $bgColor0;
$secondaryLightColor: $color2;
$secondaryDarkColor: $color4;
$primaryTextColor: #000;
$secondaryTextColor: #fff;

$preset: $primary;

$gx-lv1: $primary;
$gx-lv2: $colorMain;
$gx-lv3: #000;

/* buttons */
$btnColor:#000;
/* drawIcon */
$layerOne: #000;
$layerTwo: #000;
$logoBackGround: #FFF;

$btn-grad: $bgColor0;
$btn-grad: -webkit-linear-gradient(legacy-direction(to right), $bgColor0 0%, $bgColor4 100%);
$btn-grad: -webkit-gradient(linear, left top, right top, from($bgColor0), to($bgColor4));
$btn-grad: -webkit-linear-gradient(left, $bgColor0 0%, $bgColor4 100%);
$btn-grad: -o-linear-gradient(left, $bgColor0 0%, $bgColor4 100%);
$btn-grad: linear-gradient(to right, $bgColor0 0%, $bgColor4 100%);

$primaryHomePageText: #000;
$secondaryHomePageText: #FFF;