
<!-- Blog Section Start -->
<section id="blog" class="section-padding">
	<div class="container">
		<div class="row">
			<div class="col-12">
				<div class="section-title-header text-center">
					<h1 class="section-title wow fadeInUp" data-wow-delay="0.2s">Our Latest News & Articles</h1>
					<p class="wow fadeInDown" data-wow-delay="0.2s">Global Grand Event on Digital Design</p>
				</div>
			</div>
			<div class="col-lg-4 col-md-6 col-xs-12">
				<div class="blog-item">
					<div class="blog-image">
						<a href="#">
							<img class="img-fluid" src="assets/img/blog/img-1.jpg" alt="">
						</a>
					</div>
					<div class="descr">
						<div class="tag">Design</div>
						<h3 class="title">
							<a href="single-blog.html">
								The 9 Design Trends You Need to Know
							</a>
						</h3>
						<div class="meta-tags">
							<span class="date">Jan 20, 2018</span>
							<span class="comments">| <a href="#"> by Cindy Jefferson</a></span>
						</div>
					</div>
				</div>
			</div>
			<div class="col-lg-4 col-md-6 col-xs-12">
				<div class="blog-item">
					<div class="blog-image">
						<a href="#">
							<img class="img-fluid" src="assets/img/blog/img-2.jpg" alt="">
						</a>
					</div>
					<div class="descr">
						<div class="tag">Design</div>
						<h3 class="title">
							<a href="single-blog.html">
								The 9 Design Trends You Need to Know
							</a>
						</h3>
						<div class="meta-tags">
							<span class="date">Jan 20, 2018 </span>
							<span class="comments">| <a href="#"> by Cindy Jefferson</a></span>
						</div>
					</div>
				</div>
			</div>
			<div class="col-lg-4 col-md-6 col-xs-12">
				<div class="blog-item">
					<div class="blog-image">
						<a href="#">
							<img class="img-fluid" src="assets/img/blog/img-3.jpg" alt="">
						</a>
					</div>
					<div class="descr">
						<div class="tag">Design</div>
						<h3 class="title">
							<a href="single-blog.html">
								The 9 Design Trends You Need to Know
							</a>
						</h3>
						<div class="meta-tags">
							<span class="date">Jan 20, 2018</span>
							<span class="comments">| <a href="#"> by Cindy Jefferson</a></span>
						</div>
					</div>
				</div>
			</div>
			<div class="col-12 text-center">
				<a href="#" class="btn btn-common">Read More News</a>
			</div>
		</div>
	</div>
</section>
<!-- Blog Section End -->

