<!-- Team Section Start -->
<section id="team" class="section-padding text-center">
	<div class="container">
		<div class="row">
			<div class="col-12">
				<div class="section-title-header text-center">
					<h1 class="section-title wow fadeInUp" data-wow-delay="0.2s">Who's Speaking?</h1>
					<p class="wow fadeInDown" data-wow-delay="0.2s">Global Grand Event on Digital Design</p>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-sm-6 col-md-6 col-lg-4">
				<!-- Team Item Starts -->
				<div class="team-item wow fadeInUp" data-wow-delay="0.2s">
					<div class="team-img">
						<img class="img-fluid" src="assets/img/team/team-01.jpg" alt="">
						<div class="team-overlay">
							<div class="overlay-social-icon text-center">
								<ul class="social-icons">
									<li><a href="#"><i class="lni-facebook-filled" aria-hidden="true"></i></a></li>
									<li><a href="#"><i class="lni-twitter-filled" aria-hidden="true"></i></a></li>
									<li><a href="#"><i class="lni-linkedin-filled" aria-hidden="true"></i></a></li>
									<li><a href="#"><i class="lni-behance" aria-hidden="true"></i></a></li>
								</ul>
							</div>
						</div>
					</div>
					<div class="info-text">
						<h3><a href="#">JONATHON DOE</a></h3>
						<p>Product Designer, Tesla</p>
					</div>
				</div>
				<!-- Team Item Ends -->
			</div>
			<div class="col-sm-6 col-md-6 col-lg-4">
				<!-- Team Item Starts -->
				<div class="team-item wow fadeInUp" data-wow-delay="0.4s">
					<div class="team-img">
						<img class="img-fluid" src="assets/img/team/team-02.jpg" alt="">
						<div class="team-overlay">
							<div class="overlay-social-icon text-center">
								<ul class="social-icons">
									<li><a href="#"><i class="lni-facebook-filled" aria-hidden="true"></i></a></li>
									<li><a href="#"><i class="lni-twitter-filled" aria-hidden="true"></i></a></li>
									<li><a href="#"><i class="lni-linkedin-filled" aria-hidden="true"></i></a></li>
									<li><a href="#"><i class="lni-behance" aria-hidden="true"></i></a></li>
								</ul>
							</div>
						</div>
					</div>
					<div class="info-text">
						<h3><a href="#">Patric Green</a></h3>
						<p>Front-end Developer, Dropbox</p>
					</div>
				</div>
				<!-- Team Item Ends -->
			</div>

			<div class="col-sm-6 col-md-6 col-lg-4">
				<!-- Team Item Starts -->
				<div class="team-item wow fadeInUp" data-wow-delay="0.6s">
					<div class="team-img">
						<img class="img-fluid" src="assets/img/team/team-03.jpg" alt="">
						<div class="team-overlay">
							<div class="overlay-social-icon text-center">
								<ul class="social-icons">
									<li><a href="#"><i class="lni-facebook-filled" aria-hidden="true"></i></a></li>
									<li><a href="#"><i class="lni-twitter-filled" aria-hidden="true"></i></a></li>
									<li><a href="#"><i class="lni-linkedin-filled" aria-hidden="true"></i></a></li>
									<li><a href="#"><i class="lni-behance" aria-hidden="true"></i></a></li>
								</ul>
							</div>
						</div>
					</div>
					<div class="info-text">
						<h3><a href="#">Paul Kowalsy</a></h3>
						<p>Lead Designer, TNW</p>
					</div>
				</div>
				<!-- Team Item Ends -->
			</div>

			<div class="col-sm-6 col-md-6 col-lg-4">
				<!-- Team Item Starts -->
				<div class="team-item wow fadeInUp" data-wow-delay="0.8s">
					<div class="team-img">
						<img class="img-fluid" src="assets/img/team/team-04.jpg" alt="">
						<div class="team-overlay">
							<div class="overlay-social-icon text-center">
								<ul class="social-icons">
									<li><a href="#"><i class="lni-facebook-filled" aria-hidden="true"></i></a></li>
									<li><a href="#"><i class="lni-twitter-filled" aria-hidden="true"></i></a></li>
									<li><a href="#"><i class="lni-linkedin-filled" aria-hidden="true"></i></a></li>
									<li><a href="#"><i class="lni-behance" aria-hidden="true"></i></a></li>
								</ul>
							</div>
						</div>
					</div>
					<div class="info-text">
						<h3><a href="#">Jhon Doe</a></h3>
						<p>Back-end Developer, ASUS</p>
					</div>
				</div>
				<!-- Team Item Ends -->
			</div>
			<div class="col-sm-6 col-md-6 col-lg-4">
				<!-- Team Item Starts -->
				<div class="team-item wow fadeInUp" data-wow-delay="1s">
					<div class="team-img">
						<img class="img-fluid" src="assets/img/team/team-05.jpg" alt="">
						<div class="team-overlay">
							<div class="overlay-social-icon text-center">
								<ul class="social-icons">
									<li><a href="#"><i class="lni-facebook-filled" aria-hidden="true"></i></a></li>
									<li><a href="#"><i class="lni-twitter-filled" aria-hidden="true"></i></a></li>
									<li><a href="#"><i class="lni-linkedin-filled" aria-hidden="true"></i></a></li>
									<li><a href="#"><i class="lni-behance" aria-hidden="true"></i></a></li>
								</ul>
							</div>
						</div>
					</div>
					<div class="info-text">
						<h3><a href="#">Daryl Dixon</a></h3>
						<p>Full-stack Developer, Google</p>
					</div>
				</div>
				<!-- Team Item Ends -->
			</div>
			<div class="col-sm-6 col-md-6 col-lg-4">
				<!-- Team Item Starts -->
				<div class="team-item wow fadeInUp" data-wow-delay="1.2s">
					<div class="team-img">
						<img class="img-fluid" src="assets/img/team/team-06.jpg" alt="">
						<div class="team-overlay">
							<div class="overlay-social-icon text-center">
								<ul class="social-icons">
									<li><a href="#"><i class="lni-facebook-filled" aria-hidden="true"></i></a></li>
									<li><a href="#"><i class="lni-twitter-filled" aria-hidden="true"></i></a></li>
									<li><a href="#"><i class="lni-linkedin-filled" aria-hidden="true"></i></a></li>
									<li><a href="#"><i class="lni-behance" aria-hidden="true"></i></a></li>
								</ul>
							</div>
						</div>
					</div>
					<div class="info-text">
						<h3><a href="#">Chris Adams</a></h3>
						<p>UI Designer, Apple</p>
					</div>
				</div>
				<!-- Team Item Ends -->
			</div>
		</div>
		<a href="speakers.html" class="btn btn-common mt-30 wow fadeInUp" data-wow-delay="1.9s">All Speakers</a>
	</div>
</section>
<!-- Team Section End -->

