
<!-- Coundown Section Start -->
<section class="countdown-timer section-padding">
	<div class="container">
		<div class="row text-center">
			<div class="col-md-12 col-sm-12 col-xs-12">
				<div class="heading-count">
					<h2 class="wow fadeInDown" data-wow-delay="0.2s">Event Will Start In</h2>
				</div>
			</div>
			<div class="col-md-12 col-sm-12 col-xs-12">
				<div class="row time-countdown justify-content-center wow fadeInUp" data-wow-delay="0.2s">
					<div id="clock" class="time-count"></div>
				</div>
				<a href="pricing.html" class="btn btn-common wow fadeInUp" data-wow-delay="0.3s">Add to My Calender</a>
			</div>
		</div>
	</div>
</section>
<!-- Coundown Section End -->