<main-slide></main-slide>
<countdown-timer></countdown-timer>
<services></services>
<about></about>
<counter-section></counter-section>
<schedules></schedules>
<team></team>
<gallery></gallery>
<faq></faq>
<sponsors></sponsors>
<pricing></pricing>
<event-slides></event-slides>
<blog></blog>
<subscribe></subscribe>
