<!-- Subscribe Area Start -->
<div id="subscribe" class="section-padding">
	<div class="container">
		<div class="row justify-content-md-center">
			<div class="col-md-10 col-lg-7">
				<div class="subscribe-inner wow fadeInDown" data-wow-delay="0.3s">
					<h2 class="subscribe-title">Sign Up For Our Newsletter</h2>
					<form class="text-center form-inline">
						<input class="mb-20 form-control" name="email" placeholder="Enter Your Email Here">
						<button type="submit" class="btn btn-common sub-btn" data-style="zoom-in" data-spinner-size="30" name="submit" id="submit">
							<span class="ladda-label"><i class="lni-check-box"></i> Submit</span>
						</button>
					</form>
				</div>
			</div>
		</div>
	</div>
</div>
<!-- Subscribe Area End -->

